extends layout

block content
  h1 Agenda 2030: Gli Obiettivi per uno Sviluppo Sostenibile

  .obiettivi-tematici
    each sezione, nomeSezione in obiettiviRaggruppati
      .sezione-obiettivo(id=nomeSezione)
        h2.titolo-sezione= sezione.titoloSezione
        p.descrizione-sezione= sezione.descrizioneSezione
        .obiettivi-grid
          each obiettivo in sezione.obiettivi
            .obiettivo-card(data-obiettivo-id=obiettivo.id)
              .obiettivo-icon
                span= obiettivo.id
              h3.obiettivo-titolo= obiettivo.titolo
              p.obiettivo-descrizione= obiettivo.descrizioneBreve
              a.obiettivo-link(href=obiettivo.linkApprofondimento target="_blank") Approfondisci
